.vrstMain {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
    padding: 8px 12px;

    background: rgba(241, 235, 221, 1);
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 3px 3px 0px black;

    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
}

.glavniBtn {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 8px;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glavniBtn:hover {
    background: rgba(255, 255, 255, 0.555);
}

.glavniBtn img {
    width: 34px;
    height: 34px;
    object-fit: contain;
}

.zbrisiBtn {
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn { /*kao za fade out*/
  from { opacity: 0; }
  to { opacity: 1; }
}

.divider {
  width: 0;
  height: 45px;
  border-left: 2px dashed rgb(0, 0, 0);
  animation: fadeIn 0.2s ease;
}

.colourBtn { 
  animation: fadeIn 0.2s ease;
}

.colourPicker {
  position: fixed; /*fixed ne absolute ker parent nima relative, pac zdej je fixed na viewport*/
  bottom: 100px;  
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  padding: 8px;
  background: rgba(241, 235, 221, 1);
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 3px 3px 0px black;
  animation: fadeIn 0.2s ease;
}

.colourPickerBtn {
  width: 24px;
  height: 24px;  
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
}

.fontBtn {
  animation: fadeIn 0.2s ease;
}

.fontPicker{
  position: fixed;
  bottom: 100px;
  left: 58%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;

  gap: 8px;
  padding: 8px;

  background: rgba(241, 235, 221, 1);
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 3px 3px 0px black;
  animation: fadeIn 0.2s ease;
}

.fontPickerBtn {
  width: 100px;
  height: 30px;
  border-radius: 7px;
  border: 2px solid black;
  cursor: pointer;
}